<h1>Simple Forum</h1>
<h3>Client side is written in <span class="label label-success">AngularJS</span> with cooperation of <span class="label label-success">node.js</span>, <span class="label label-success">jQuery</span>, <span class="label label-success">Bootstrap</span>, <span class="label label-success">Babel</span>, <span class="label label-success">Bower</span> and <span class="label label-success">Webpack</span>.</h3>
<h3>Server side is written in <span class="label label-danger">Phalcon PHP</span>.</h3>
<h3>API is designed in Apiary service.</h3>
<h3>Demo is available over <span class="label label-primary">HTTP/2</span> + <span class="label label-primary">Let’s Encrypt</span> powered by Nginx.</h3>