<h2 class="threads-heading">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span></button>
	</div>
	New thread
</h2>
<form class="form-thread" role="form" ng-submit="create()">
	<label for="threadName" class="sr-only">Thread name</label> <input
		type="text" id="threadName" class="form-control"
		placeholder="Thread name" ng-model="threadName" required autofocus>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>