<h2 class="threads-heading">Threads</h2>
<table class="table table-striped">
	<tr ng-repeat="x in threads">
    	<td>{{ x }}</td>
    	<td>
    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
  				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
			</button>
    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
    	</td>
  	</tr>
</table>