<h2 class="threads-heading">
	Threads
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-success" ng-click="createThread()"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
</h2>
<table class="table table-striped">
	<tr ng-repeat="x in threads">
    	<td class="col-0">thread title</td>
    	<td class="col-1">last message</td>
    	<td class="col-2">
    		<button type="button" class="btn btn-default btn-sm" aria-label="Open" ng-click="messages(999)">
  				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
			</button>
    		<button type="button" class="btn btn-default btn-sm" aria-label="Delete" ng-click="remove(999)">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>
    	</td>
  	</tr>
</table>