<h2 class="threads-heading">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default" ng-click="back()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
	</div>
	Thread content
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-success" ng-click="createMessage(999)"><span class="glyphicon glyphicon-plus"></span></button>
		<button type="button" class="btn btn-danger" ng-click="removeThread(999)"><span class="glyphicon glyphicon-trash"></span></button>
	</div>
</h2>
<div class="clearfix"></div>

<div class="panel panel-default" ng-repeat="x in content">
	<div class="panel-heading">
		<div class="pull-left">author name</div>
		<div class="pull-right">2015-01-01 00:00:00 <a class="message-heading-rm" ng-click="removeMessage(888,999)"><span class="glyphicon glyphicon-trash"></span></a></div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">message body</div>
</div>