<h2 class="threads-heading">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default" ng-click="back()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
	</div>
	{{ thread.title }}
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-success"
			ng-click="createMessage()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button type="button" class="btn btn-primary"
			ng-click="threadMembers()" data-toggle="modal"
			data-target="#membersModal">
			<span class="glyphicon glyphicon-user"></span>
		</button>
		<button type="button" class="btn btn-danger" ng-click="removeThread()" ng-if="isOwner(thread.author._meta.id)">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</h2>
<div class="clearfix"></div>

<div class="panel panel-default" ng-repeat="x in content">
	<div class="panel-heading">
		<div class="pull-left">{{ x.author._meta.id }}</div>
		<div class="pull-right">
			{{ x._meta.tsCreate }} <a class="message-heading-rm"
				ng-click="removeMessage(x._meta.id)" ng-if="isOwner(x.author._meta.id)"><span
				class="glyphicon glyphicon-trash"></span></a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel-body">{{ x.content }}</div>
</div>

<div class="modal fade" id="membersModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Thread members</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<tr ng-repeat="x in thMembers">
						<td class="col-0">{{ x.member._meta.id }} <span ng-if="isOwnerXY(x.member._meta.id,thread.author._meta.id)" class="glyphicon glyphicon-king"></span></td>
						<td class="col-1">{{ x._meta.tsCreate }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>